@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans" sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #E5E5E5;
}


/* Pages */
.page-header {
  background-color: #FFFFFF;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  background-color: #FFFFFF;
}

.welcome {
  background-image: url(/images/header-image.jpg);
  background-repeat: no-repeat;
}

/* Advantages */
.advantages-intro {
  background-color: #FFFFFF;
  text-align: center;
}



.heading-2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-highlighted-container {
  background-color: #82B3D3;

}

.advantages-item-image {
  display: block;
}

.advantages-item-second-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-second-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-centered {
  background-color: #FFFFFF;

}

/* Search */
.search {
  background-color: #FFFFFF;
}
.search-description {
  text-align: center;
}


/* Subcribe */
.subscribe {
  background-image: url(/images/subscribe.jpg);
  background-repeat: no-repeat;
}

.subscribe-description {
  text-align: center;
}

/* Footer */
.page-footer {
  background-color: #FFFFFF;
  color: #000000;
}
